<div class="container">
    <h1 class="text-center mt-5">Sobre</h1>
    <p>Desenvolver na priofissão é o melhor caminho, para o cerscimento profissional,s empre estudando e aprimorando
       num esutdo dedicado, smepre estudar é a melhor forma e a melhor parte, para estudar e se dedicar ainda mais, smepre 
       o estudo dignifica o ser humano, a evolução sempre faz as pessoas crescerem para uma melhor desafio, evoluir smepre 
       é a par mais forte, para o crescimento.</p>
       <button (click)="onButtonClick()">clica no botão</button>
  </div>