<nav>
    <div class="menu-container">
      <div class="logo">MyApp</div>
      <button class="menu-toggle" (click)="toggleMenu()">&#9776;</button>
      <ul [class.responsive]="isMenuOpen">
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/sobre']">Sobre</a></li>
        <li><a [routerLink]="['/cadastro']">Cadastro</a></li>
        <li><a [routerLink]="['/cadastroEndereco']">Cadastro de Endereço</a></li>
        <li><a [routerLink]="['/cadastroTelefone']">Cadastro de Telefone</a></li>
        <li><a [routerLink]="['/consulta']">Consulta</a></li>
        <li><a [routerLink]="['/consultaEndereco']">Consulta de Emdereço</a></li>
        <li><a [routerLink]="['/consultaTelefone']">Consulta de Telefone</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>