<form [formGroup]="enderecoForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="Logradouro" class="form-label">Nome do Cliente:</label>
      <input
        id="Logradouro"
        formControlName="Logradouro"
        type="text"
        class="form-control"
        placeholder="Digite o nome"
      />
    </div>
  
    <div class="mb-3">
      <label for="Compelemnto" class="form-label">Complemento:</label>
      <input
        id="Compelemnto"
        formControlName="Compelemnto"
        type="text"
        class="form-control"
        placeholder="Digite o complemento"
      />
    </div>

    <div class="mb-3">
      <label for="Bairro" class="form-label">Bairro:</label>
      <input
        id="Bairro"
        formControlName="Bairro"
        type="text"
        class="form-control"
        placeholder="Digite o bairro"
      />
    </div>

    <div class="mb-3">
      <label for="Cidade" class="form-label">Cidade:</label>
      <input
        id="Cidade"
        formControlName="Cidade"
        type="text"
        class="form-control"
        placeholder="Digite o cidade"
      />
    </div>
  
    <div class="mb-3">
      <label for="Estado" class="form-label">Estado:</label>
      <select id="Estado" formControlName="Estado" class="form-select">
        <option value="" disabled selected>Selecione o estado</option>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espírito Santo</option>
        <option value="GO">Goiás</option>
        <option value="MA">Maranhão</option>
        <option value="MT">Mato Grosso</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
        <option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
        <option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>
      </select>
    </div>
  
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
  <hr/>
<app-footer></app-footer>
  