<form>
    <div class="mb-3">
      <label for="nomeCliente" class="form-label">Nome do Cliente:</label>
      <input
        id="nomeCliente"
        type="text"
        class="form-control"
        placeholder="Digite o nome"
      />
    </div>
  
    <div class="mb-3">
      <label for="emailCliente" class="form-label">Email:</label>
      <input
        id="emailCliente"
        type="email"
        class="form-control"
        placeholder="Digite o email"
      />
    </div>
  
    <div class="mb-3">
        <label for="Cpf" class="form-label">Cpf:</label>
        <input
          id="Cpf"
          type="text"
          class="form-control"
          placeholder="Digite o cpf"
        />
      </div>
  
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
  <hr/>
<app-footer></app-footer>
