<div class="alert alert-primary" role="alert">
    Desenvolvwer sempre é importante, precisamos valorizar a area de TI sim
  </div>
  <div class="alert alert-secondary" role="alert">
    A area de TI é importante e fundamental evoluindo cada vez mais e fa\endo cerscer ainda mais
  </div>
  <div class="alert alert-success" role="alert">
    Aproveurta  a tecnologia no brasil ep fundamental para nosos crescimento profissional sempre
  </div>
  <div class="alert alert-danger" role="alert">
    O crescimento smepre é importante e fundamental o Brasil precisa voltar a valorizar  a area de TI
  </div>
  <p>Desenvolvwer profissionalmente sempre pe importatente fundamnetal, para nosos crescimento ebvolutivo, aprimorando
    sempre no esutdo e na capacidade de estudar diariamente depois do trabalçho, smepre praticando da melhor forma, quanyto mais
    pratica mais fica bom, na area de atuação. Estudsar e trabalhar é um objetivo muito importatnte e fundamental para a area de TI,
    quem não estuda e se atualiza , não consegue evoluir para o melhor momento. Posi o estudo sempre qulifica e a gtente se torna 
    melhor , e mais atualizado, todos devem estudar direto sem parar e ver menos netflix, o maximo que um desenvolvedor pode é 
    estudar muito e demais, pois o estudo qualifica ainda mais. Os desenbvolvedortes mais qualificados sempre estudam ainda mais, 
    sempre te curiosidade em aprender, perfil de um desenvolvedor é aprender a vida toda as tecnologias, e smepre oraticar, igual 
    matematica
  </p>
  <app-footer></app-footer>